.bs-icon {
  content: '';
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

.bs-icon--more-info {
  @include smooth-all-transition;
  margin-left: .25rem;
  background: $question_circle_icon;
  cursor: help;
  background-size: contain;
  width: .875rem;
  height: .875rem;
  opacity: .7;

  &:hover {
    opacity: 1;
  }
}